.footer {
  height: 500px;
  background-color: rgb(209, 138, 7);
  padding: 30px;
}

.upper-left-footer {
  font-size: 22px;
  font-weight: 700;

  display: flex;
  flex-direction: column;

  border-right: solid 1px rgb(65, 65, 65);
  width: 260px;
}

.footer-nav {
  height: 50px;

  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.footer-nav:hover {
  color: rgba(0, 0, 0, 0.487);
  cursor: pointer;
}