.sub-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: whitesmoke;

  height: 38px;
  margin: 50% 15% 0px;
  padding: 0px 4px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  position: relative;
  z-index: 10;
}

.sub-navbar-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
}

.nav-button {
  padding: 4px 8px;
  color: rgb(97, 97, 97);
  text-decoration: none;
}

.nav-button:hover {
  color: rgb(124, 124, 124);
}
