.sub-navbar {
  /* position: fixed;
  top: 600px;
  right: 0px;
  left: 0px;
  z-index: 5; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  background-color: whitesmoke;

  height: 38px;
  margin-top: -4px;
  padding: 0px 4px;
  z-index: 20;
}

.sub-navbar-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  margin-left: 16px;
}

.nav-button {
  padding: 4px 8px;
  color: rgb(97, 97, 97);
  text-decoration: none;
  transition: color 0.15s;
}

.nav-button:hover {
  color: rgb(124, 124, 124);
}

/*|| Custom Subheaders */
.lorax-elements {
  width: 400px;
}
